<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="UTF-8">

    <title>SCOOP Dashboard</title>
    <meta name="description" content="The SCOOP Visualization Dashboard.">

    <link rel="stylesheet" href="min.css">

  </head>
  <body>

    {{> header }}
    {{> body }}
    {{> footer }}

    <script src="min.js">
  </body>
</html>
